<header>
    <div class="logo">
        <h1>Members Only</h1>
    </div>
    <nav id="nav">
        <ul>
            <% if(locals.user) { %>
                <li><a href="">New Message</a></li>
                <li><a href="">Get Membership</a></li>
                <li><a href="/log-out">Log Out</a></li>
            <% } else { %>
                <li><a href="/">Log In</a></li>
                <li><a href="/sign-up">Sign Up</a></li>
            <% } %>
        </ul>
    </nav>
</header>