<header>
    <div class="logo">
        <h1>Members Only</h1>
    </div>
    <nav id="nav">
        <ul>
            <li><a href=""></a>Link 1</li>
             <li><a href=""></a>Link 2</li>
              <li><a href=""></a>Link 3</li>
        </ul>
    </nav>
</header>