<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/ce1faa7116.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="/styles.css">
    <title>Members Only</title>
</head>
<body>
    <%- include('partials/header') %>
    <main>
        <div class="main-wrap">
         <%- body %>
        </div>
    </main>
</body>
</html>