<div class="messages-con">
    <% if (locals.user) { %>
        <% if(locals.user.membership_status){ %>
          <% if (locals.messages && locals.messages.length > 0) { %>
        <h1>Messages</h1>
        <ul>
            <% locals.messages.forEach(function(message) { %>
                <li>
                    <h2><%= message.title %></h2>
                    <p><%= message.text %></p>
                    <p><small>Written by: <strong><%= message.written_by %></strong> on <%= message.date_and_time.toLocaleDateString() %></small></p>
                </li>
            <% }) %>
        </ul>
    <% } else { %>
        <p>No messages available.</p>
    <% } %>
          <% } else { %>
            <p>You need to be a member to view messages.</p>
            <a href="/membership">Get Membership</a>
            <% } %>
    <% } else { %>
        <h1>Please log in to view messages</h1>
        <a href="/log-in">Log In</a>
        <% } %>
</div>