
<div class="sign-up-form">
  <h1>Sign Up</h1>
  <form action="/sign-up" method="POST">
    <label for="username">Username</label>
    <input id="username" name="username" placeholder="username" type="text" required />
    <label for="name">Name</label>
    <input id="name" name="name" placeholder="name" type="text" required />
    <label for="surname">Surname</label>
    <input id="surname" name="surname" placeholder="surname" type="text" required />
    <label for="email">Email</label>
    <input id="email" name="email" placeholder="email" type="email" required />
    <label for="password">Password</label>
    <input id="password" name="password" type="password" required/>
    <label for="password">Confirm Password</label>
    <input id="confirm-password" name="confirm-password" type="password" required />
    <button type="submit">Sign Up</button>
  </form>
  <p>Already have an account? <a href="/">Log In</a></p>
</div>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const form = document.querySelector('.sign-up-form');
    form.addEventListener('submit', (event) => {
      const password = form.querySelector('#password').value;
      const confirmPassword = form.querySelector('#confirm-password').value;
      if (password !== confirmPassword) {
        event.preventDefault();
        alert('Passwords do not match!');
      }
    });
  });
</script>
</html>
