
<div class="sign-up-form">
  <h1>Sign Up</h1>
  <form class="signup-f" action="/sign-up" method="POST">
    <div class="input-group">
    <label for="username">Username:</label>
    <input id="username" name="username" placeholder="username" type="text" required />
    </div>
    <div class="input-group">
    <label for="name">Name:</label>
    <input id="name" name="name" placeholder="" type="text" required />
    </div>
    <div class="input-group">
    <label for="surname">Surname:</label>
    <input id="surname" name="surname" placeholder="" type="text" required />
    </div>
    <div class="input-group">
    <label for="email">Email:</label>
    <input id="email" name="email" placeholder="" type="email" required />
    </div>
    <div class="input-group">
    <label for="password">Password:</label>
    <input id="password" name="password" type="password" required/>
    </div>
    <div class="input-group">
    <label for="password">Confirm Password:</label>
    <input id="confirm-password" name="confirm-password" type="password" required />
    </div>
    <button id="signup-btn" type="submit">Sign Up</button>
  </form>
  <p class="signup-text">Already have an account? <a href="/">Log In</a></p>
</div>
<script>
  document.addEventListener('DOMContentLoaded', () => {
    const form = document.querySelector('.sign-up-form');
    form.addEventListener('submit', (event) => {
      const password = form.querySelector('#password').value;
      const confirmPassword = form.querySelector('#confirm-password').value;
      if (password !== confirmPassword) {
        event.preventDefault();
        alert('Passwords do not match!');
      }
    });
  });
</script>
</html>
