
<div class="sign-up-form">
  <h1>Sign Up</h1>
  <form action="/sign-up" method="POST">
    <label for="username">Username</label>
    <input id="username" name="username" placeholder="username" type="text" />
    <label for="name">Name</label>
    <input id="name" name="name" placeholder="name" type="text" />
    <label for="surname">Surname</label>
    <input id="surname" name="surname" placeholder="surname" type="text" />
    <label for="email">Email</label>
    <input id="email" name="email" placeholder="email" type="email" />
    <label for="password">Password</label>
    <input id="password" name="password" type="password" />
    <button type="submit">Sign Up</button>
  </form>
  <p>Already have an account? <a href="/">Log In</a></p>
</div>
</html>
